.label {
    height:2.75in;
    width:5in;
    border-style: solid;
    display:table-cell;
}
.label_row{
    display:table-row;
}
.label_page{
    display:table;
    margin-left:40px;
    margin-top:10px;
}
table{
    margin-top: 10px;
    width:4.75in;
}
th{
    width: 25%;
    text-align: left!important;
    padding-left: 20px;
}



@media print {
    .navbar {
        display: none!important;
    }
    .label_page{
        page-break-after: always;
    }
}