.label {
    height:2.75in;
    width:5in;
    border-style: solid;
    display:table-cell;
}
.label_row{
    display:table-row;
}
.label_page{
    display:table;
}
table{
    height:2in;
    width:4.75in;
}
th{
    width: 25%;
}